.demoFullSize {
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideImgTest {
    display: none;
}

.inputTest {
    position: absolute;
    bottom: 20px;
}